@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}


.homeMainContainer{
    display: flex;
    justify-content: center;
    align-items: space-evenly;
    background-color: #8CFFBE;
    width: 100%;
    height: 100vh;
    background-image: url("C:\Users\kbram\lyrical-rush\src\assets\Group 3.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.homeMainContainer audio{
    visibility: hidden;
    position: absolute;
}

.heroContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.heroContainer input{
    height: 50px;
    width: 300px;
    border-radius: 10px;
    padding-left: 10px;
}

.recordOuter{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 650px;
    height: 450px;
    background-color: #484848;
    border-radius: 100px;
}

.recordInner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 615px;
    height: 415px;
    background-color: #000;
    border-radius: 100px;
}

.left{
    color: #fff;
}

.left button{
    margin-top: 20px;
    border: none;
    background-color:#FFF44F;
    height: 50px;
    width: 200px;
    border-radius: 20px;
    color:#4A116D;
    font-size: large;
}

.right{
    margin-left: 50px;
}

.recordContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
    overflow: visible;
}

.recordPurple{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color:#4A116D;
  width: 440px;
  height: 440px;
  border-radius: 750px;
  margin-left: -200px;
  margin-right: -70px;
}

.recordYellow{
  display: flex;
  justify-content:space-around;
  align-items: center;
  background-color:#FFF44F;
  width:250px;
  height:250px;
  border-radius: 300px;
}

.recordYellow h3{
  color: #4A116D;
  font-size: 25px;
}

.pin{
  background-color:#D9D9D9;
  height: 15px;
  width: 15px;
  border-radius: 100px;
}

.controlsContainer{
    display:flex;
    justify-content: center;
    align-items: end;
    width: 40%;
    height: 100%;
}

.armContainer{
    height: 100%;
    width: 20%;

}

.armContainer img{
    position: relative;
    top:120px;
    right:225px;
    height: 300px;
}

.dialContainer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 50%;
    width: 20%;
    margin-left: 20px;
}

.dial{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 43px;
    background-color: #FFF;
    border-radius: 60px;
    border: solid;
    border-color: #484848;
    border-width: 10px;
}